@import "bootstrap/dist/css/bootstrap.min.css";

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
